<div class="container mt-5 text-center">

    
    <%= form_tag("/posts/create") do %>
    
        <div class="row mt-5">
            <div class="col">
                <textarea name="content"></textarea>
            </div>
        </div>
        
        <div class="row mt-5">
            <div class="col">
                <input type="submit" value="作成" class="btn-square">
            </div>
        </div>
        
    <% end %>
    
</div>