<% if @error_message %>
    <%= @error_message %>
<% end %>
<div class="container mt-5">
        <div class="form-group">
            
            <div class="form_tag">
            <%= form_tag("/login") do %>
            
            <div class="row mt-3">
                <div class="col">
                <p>メールアドレス</p>
                <input name="email" value="<%= @email %>" class="form-control">
                </div>
            </div>
            
            <div class="row mt-3">
                <div class="col">
                <p>パスワード</p>
                <input type="password" name="password" value="<%= @password %>" class="form-control">
                </div>
            </div>
            
            <div class="row mt-5">
                <div class="col">
                <input type="submit" value="ログイン" class="btn-square">
                </div>
            </div>
            
            </div>
            
            <% end %>
        </div>
    </div>
</div>